/* #calculatorTitle {
  font-size: 4rem !important;
} */
body {
  font-family: roboto, sans-serif;
}

.heroBanner h1 {
  font-size: 3.5rem !important;
}

@media only screen and (max-width: 540px) {
  .heroBanner h1 {
    font-size: 1.75rem !important;
  }
  .heroBanner {
    padding-bottom: 0 !important;
  }

  .scene {
    width: 100vw !important;
    padding: 0 !important;
  }

  .calculator-container {
    border-radius: 0 !important;
  }

  .currency-input-container::before {
    top: 9px !important;
  }

  .results-container {
    /* background: transparent !important; */
  }
}

@media only screen and (min-width: 768px) and (max-width: 768px) {
  .heroBanner h1 {
    font-size: 2.2rem !important;
  }
  .currency-input-container::before {
    top: 11px !important;
  }
  .custom-box {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1070px) {
  .heroBanner h1 {
    font-size: 3rem !important;
  }
}

.calculator-container {
  background-color: #5c39c6;
  border-radius: 14px;
}

.calculator-container label {
  /* display: flex; */
  color: #fff !important;
}

.calculator-container .error {
  color: #f96363 !important;
  margin-bottom: 0 !important;
  font-size: 14px;
  padding-left: 0;
}

#calculateButton {
  border: 2px solid #fff;
  background: 0 0;
  opacity: 1;
  transition: all 0.1s 0.2s;
}

#calculateButton:hover {
  background: #442997 !important;
  /* transform: none !important; */
}

#calculateButton,
#getQuoteButton {
  width: 100% !important;
  box-shadow: none !important;
  text-decoration: none !important;
  color: #fff !important;
}

#backButton {
  cursor: pointer;
  color: #4a4f53;
}
#backButton:hover {
  text-decoration: underline;
}

#borrow {
  color: #886be7;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0;
}

#afford {
  font-weight: 700;
  color: #000;
}

.dollars {
  left: 12px !important;
  top: 13.5px;
}

.calculator-input {
  padding: 0px !important;
  padding-left: 30px !important;
  border: 0 !important;
  background: #fff;
}

.currency-input-container {
  display: flex;
  margin-bottom: 1rem;
}

.currency-input-container::before {
  content: "£";
  width: 0;
  height: 0;
  position: relative;
  left: 0.75rem;
  top: 14.5px;
  /* transition: opacity 1s; */
  font-size: 1.5rem;
  color: #000;
}

.currency-input-container.empty::before {
  color: #a9a9a9;
}

.disclaimer {
  color: #4a4f53;
  margin-right: auto;
  margin-left: auto;

  font-size: 0.75rem;
}

.purple {
  color: #5c39c6;
}

.scene {
  width: 100%;
  height: 493px;
  perspective: 800px;
  transition: all 1s;
}

.flip-card {
  width: 100%;
  /* height: 493px; */
  position: relative;
  transition: all 1s;
  transform-style: preserve-3d;
  transform-origin: center right;
}

.flip-card.is-flipped {
  /* transform: rotateY(180deg); */
  transform: translateX(-100%) rotateY(-180deg);
}

.flip-card.is-flipped #calculateButton {
  opacity: 0;
}

.flip-card.is-flipped .currency-input-container::before {
  opacity: 0;
}

.card__face {
  position: absolute;
  /* height: fit-content; */
  width: 100%;
  /* backface-visibility: hidden; */
  -webkit-perspective: 0;
  -webkit-backface-visibility: hidden;
  /* -webkit-transform: rotateY(0, 0, 0); */
  /* visibility: visible; */
  backface-visibility: hidden;
}

.card__face--front {
  background: #5c39c6;
}

.card__face--back {
  /* border-top: 1px solid #ccc; */

  /* border: 1px solid #aaaaaa; */
  background: #fff;
  transform: rotateY(180deg);
}
